body {
    padding-top: 5rem;
    margin:0;
}

em{
    color:red;
}
.submit_btn{
    border:none;
    border-radius:5px;
    color:white;
    background-color:#3C87CD;
    padding:5px 10px;
}

td{
    padding:10px 40px;
    width:100%;
}

table{
    width:100%;
    margin:0;
}